<h1>This is {{title}} Page</h1>

<div>
  <div>
    <h1><a href="/">Home</a></h1>
  </div>
  <div>
    <h1><a href="/about">About</a></h1>
  </div>
  <div>
    <h1><a href="/help">Help</a></h1>
  </div>
</div>